@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Palindrome MVC App</h2>
    <p>A simple ASP.NET MVC Application that checks if a word is a palindrome!</p>
    <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Reverse">Take Me To The App</a>
    <p><img src="/images/mirror.png" class="img-fluid"/></p>



</div>
